.haydn-murray {
    display: flex;
    flex-direction: row;
    height: 600px;
    color: var(--font-color-primary);
    background-color: var(--background-color-primary);
    border-radius: 0px 0px 0px var(--border-section-radius);
    border: solid 0px black;
    box-shadow: 0px 0px 4px 0px var(--background-color-primary);
}

.haydn-murray-info, .haydn-murray-image {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.haydn-murray-info {
    margin-top: 200px;
    margin-left: 5%;
}

.haydn-murray-name {
    text-transform: uppercase;
    font-family: RobotoRegular;
    font-size: xxx-large;
}

.haydn-murray-description {
    margin-top: 10px;
    width: 80%;
    font-size: x-large;
}

.haydn-murray-image {
    background-image: url('../../../media/headshot.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.haydn-murray-icons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.haydn-murray-icon-container {
    padding-right: 10px;
}

.haydn-murray-icon {
    background-color: white;
    border-radius: 6px;
}
